{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Liste des médicaments</h1>

        <a href="{{ path('nouveau_med') }}" class="btn btn-primary mb-3">Nouveau médicament</a> {# Button to navigate to the "nouveau_med" page #}

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Dosage</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Form</th>
                        <th scope="col">Actions</th> {# New column for actions #}
                    </tr>
                </thead>
                <tbody>
                    {% for medicament in medicaments %}
                        <tr>
                            <td>{{ medicament.id }}</td>
                            <td>{{ medicament.dosage }}</td>
                            <td>{{ medicament.nom }}</td>
                            <td>{{ medicament.form }}</td>
                            <td>
                                <form action="{{ path('medicament_delete', {'id': medicament.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this medication?');">
                                    <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
